
/* Layout */
.curriculum-content {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1.1fr 0.9fr;
  gap: clamp(1.5rem, 4vw, 3rem);
  align-items: center;
}

/* Right Image */
.curriculum-right img {
  width:500px;
  height: auto;
  border-radius: 18px;
  display: block;
  object-fit: cover;
   box-shadow: 0 10px 20px rgba(209, 208, 208, 0.6);
}
