.vision-section {
  text-align: center;
  padding: 20px;
}

/* Grid */
.vision-cards {
  display: flex;
  gap: 40px;
  padding: 20px 0;
  justify-content: center;
  flex-wrap: wrap;
}

/* Icon */
.vision-icon {
  color: goldenrod;
  font-size: clamp(25px, 1vw, 40px);
}
