
.history-row {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: clamp(20px, 2vw, 80px);
}

.history-row.reverse {
  flex-direction: row-reverse;
}

.history-text {
  flex: 1;
}

.history-image {
  flex: 1;
}

.history-image img {
  width: 100%;
  border-radius: clamp(8px, 2vw, 12px);
  object-fit: cover;
}


@media (max-width: 1440px) {
  .history-row,
  .history-row.reverse {
    flex-direction: column;
  }

}
