.ach-content {
  padding: 20px;
}

.ach-content span {
  color: wheat;
}

.ach-images-grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.ach-image {
  max-width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
  margin: 20PX 10PX;
}


/* Responsive */
@media (max-width: 1024px) {
  .ach-images-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .ach-images-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .ach-images-grid {
    grid-template-columns: 1fr;
  }
}
