.ach-images-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: clamp(16px, 4vw, 40px);
}

.ach-image {
  max-width: clamp(150px, 45vw, 450px);
  object-fit: cover;
  border-radius: clamp(6px, 1vw, 8px);
  margin: clamp(12px, 3vw, 20px) 0;
}



/* Responsive */
@media (max-width: 1024px) {
  .ach-images-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .ach-images-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
