.header {
  width: 100%;
  color: #fff;
  background: black;
}

/* Topbar */
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}

/* Brand */
.topbar-left {
  display: flex;
  align-items: center;
  gap: 30px;
}

.film-logo {
  width: clamp(70px, 10vw, 120px);
}

.topbar-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.subtitle {
  font-size: clamp(20px, 2vw, 35px);
}

.main-title {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: clamp(35px, 5vw, 55px);
  font-weight: 600;
  margin: 0;
  letter-spacing: 5px;
  color: #f2f2f2;
  text-shadow: 1px 1px 0 #888, 2px 2px 0 #777, 3px 3px 0 #666, 4px 4px 0 #555,
    5px 5px 0 #444;
  /* Prevent blur */
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
}

/* Hamburger */
.menu-btn {
  background: none;
  border: none;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  align-self: flex-start;
}
