/* Main Layout */
.leadership-content {
  display: flex;
  align-items: flex-start;
}

/* Left text */
.leadership-text {
  flex: 1;
}

/* Right profile */
.leadership-profile {
  margin: 0 auto;
  flex: 1;
  text-align: center;
}

.leader-image {
  width: 80%;
  height: auto;
  border-radius: clamp(8px, 2vw, 12px);
  margin-bottom: clamp(8px, 2vw, 12px);
}

@media (max-width: 780px) {
  .leadership-content,
  .leadership-text {
    flex-direction: column-reverse;
  }
}
