.vishwaraj-wrapper {
  padding-bottom: 20%;
  background-image: url("/public/assets/images/background/vishwaraj2.JPG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
   /* Overlay for opacity */
  background-color: rgba(0, 0, 0, 0.5); /* adjust alpha 0.4 = 40% opacity */
  background-blend-mode: overlay; /* blend overlay on background image */
}

/* Layout */
.studio-content {
  display: flex;
  padding: 0 clamp(12px, 3vw, 20px);
}

.studio-section {
  position: relative;
  padding: 0 clamp(10px, 2vw, 40px);
  max-width: 1400px;
}

#studio-btn {
  margin-left: auto;
  display: inline-block;
}
/* Image container */
/* .studio-imgs {
  position: relative;
  width: 750px;
  height: clamp(200px, 45vw, 400px);
  overflow: hidden;
  border: 1px solid white;
}

.studio-imgs img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translateX(-100%);
  transition: all 1s ease;
}

.studio-imgs img.active {
  opacity: 1;
  transform: translateX(0);
  z-index: 2;
}


.studio-imgs img.prev {
  opacity: 0;
  transform: translateX(100%);
  z-index: 1;
}


@keyframes borderRotate {
  100% {
    --angle: 420deg;
  }
} */



@media (max-width: 768px){
.vishwaraj-wrapper {
  padding-bottom: 10%;
  background-color: rgba(0, 0, 0, 0.7); /* adjust alpha 0.4 = 40% opacity */
}

  .studio-text{
    margin: 0;
  }
}