

/* Layout */
.studio-content {
  display: flex;
  justify-content: center;
  gap: 60px;
  padding: 20px;
  align-items: center;
}

/* Image container */
.studio-imgs {
  position: relative;
  width: 500px;
  height: 300px;
  overflow: hidden;
  border: 1px solid white;
}

.studio-imgs img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transform: translateX(-100%);
  transition: all 1s ease;
}

.studio-imgs img.active {
  opacity: 1;
  transform: translateX(0);
  z-index: 2;
}

/* Previous image (slide out) */
.studio-imgs img.prev {
  opacity: 0;
  transform: translateX(100%);
  z-index: 1;
}
/* Animation */
@keyframes borderRotate {
  100% {
    --angle: 420deg;
  }
}

.studio-text {
  max-width: 400px;
}

#studio-btn {
  bottom: 10px;
  right: 10px;
}

