/* ProgramHighlights.css */
.program-highlights {
  background: url("/public/assets/images/background/highlights-bg.webp")
    no-repeat center center/cover;
  padding: clamp(16px, 4vw, 20px) clamp(10px, 1vw, 80px);
  color: black;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: clamp(280px, 50vw, 400px);
}

.hg-content-wrapper {
  max-width: clamp(320px, 95vw, 1400px);
}

.hg-title {
  text-align: left;
  margin-left: clamp(0px, 5vw, 40px);
  color: black;
}

.horizontal-lists {
  display: flex;
  gap: clamp(20px, 6vw, 50px);
}

/* Title inside UL */
.list-title {
  color: red;
  list-style: none;
  margin-bottom: clamp(6px, 2vw, 10px);
}

/* Normal list items */
.vertical-list li:not(.list-title),
.hg-list li:not(.list-title) {
  font-family: "Poppins-Medium", Helvetica;
  font-size: clamp(12px, 1.2vw, 18px);
  font-weight: 500;
  color: #a22826;
  line-height: clamp(1.4, 1.6, 1.7);
}

@media (max-width: 768px) {
  .horizontal-lists {
    flex-direction: column;
  }
}
