/* Container */
.events-container {
  max-width: clamp(350px, 90vw, 1200px);
  margin: 0 auto;
  padding: clamp(30px, 6vw, 60px) 0;
}

/* Vertical list */
.events-grid {
  display: flex;
  flex-direction: column;
  gap: clamp(30px, 5vw, 50px);
}

/* Card */
.event-card {
  padding: 0;
  display: grid;
  grid-template-columns: clamp(35%, 40vw, 40%) clamp(60%, 60vw, 65%);
  min-height: clamp(150px, 25vw, 220px);
}

/* Left image section */
.event-left {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Dark overlay on image */
.event-left::after {
  content: "";
  position: absolute;
  inset: 0;
  /* background: linear-gradient(rgba(71, 71, 71, 0.55), rgba(56, 55, 55, 0.1)); */
  z-index: 0;
}

/* Title on image */
.event-head {
  position: absolute;
  bottom: clamp(12px, 3vw, 20px);
  left: clamp(12px, 3vw, 20px);
  z-index: 1;
}

/* Right content */
.event-right {
  text-align: left;
  /* background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(56, 55, 55, 0.3) 30%,
    rgba(241, 241, 241, 0.1) 100%
  ); */
  padding: 0 clamp(16px, 3vw, 32px);
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .event-card {
    grid-template-columns: 1fr;
  }

  .event-left {
    min-height: clamp(100px, 45vw, 150px);
  }
}
