.carousel-background {
  position: relative;
  width: 100%;
  padding: clamp(30px, 2vw, 40px) 0;
  background-image: url("/public/assets/images/background/career-bg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}

.carousel-background::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
}

/* Track Images */
.track-images {
  width: clamp(160px, 35vw, 300px) !important;
  object-fit: cover;
  border-radius: clamp(8px, 2vw, 15px);
  flex-shrink: 0;
  border: none !important;
}
