.alumni-speak {
  padding: 4rem 1rem;
  max-width: 1400px;
  margin: 0 auto;
}


.alumni-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 30px;
}

.alumni-slider {
  display: flex;
  gap: 40px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 1rem;
  scrollbar-width: none;
}

.alumni-slider::-webkit-scrollbar {
  display: none;
}

.alumni-card {
  min-width: 350px;
  overflow: hidden;
}

.video-box iframe {
  width: 100%;
  height: 200px;
  display: block;
}

.alumni-info {
  text-align: center;
}

.alumni-name{
  font-size: 18px;
  margin-bottom: 5px;
  color: wheat;
}

.nav-btn {
  background: goldenrod;
  color: black;
  border: none;
  width: 65px;
  font-size: 20px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}

.nav-btn.left {
  margin-right: 0.5rem;
}

.nav-btn.right {
  margin-left: 0.5rem;
}
