.alumni-speak {
  max-width: clamp(300px, 90%, 1600px);
  margin: 0 auto;
}

.alumni-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: clamp(20px, 3vw, 50px);
  padding: clamp(20px, 4vw, 35px) 0;
}

.alumni-slider {
  display: flex;
  gap: clamp(20px, 3vw, 50px);
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: clamp(0.5rem, 2vw, 1rem);
  scrollbar-width: none;
}

.alumni-slider::-webkit-scrollbar {
  display: none;
}

.alumni-card {
  min-width: clamp(200px, 45vw, 350px);
  overflow: hidden;
}

.video-box iframe {
  width: 100%;
  height: clamp(180px, 25vw, 300px);
  display: block;
}

.alumni-info {
  text-align: center;
}

.alumni-name {
  font-size: clamp(16px, 2vw, 20px);
  margin: 0;
  color: wheat;
}

.nav-btn {
  background: goldenrod;
  color: black;
  border: none;
  width: clamp(40px, 5vw, 60px);
  font-size: clamp(14px, 2vw, 20px);
  height: clamp(30px, 4vw, 40px);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: clamp(30px, 6vw, 60px);
}

.nav-btn.left {
  margin-right: clamp(0.2rem, 1vw, 0.5rem);
}

.nav-btn.right {
  margin-left: clamp(0.2rem, 1vw, 0.5rem);
}
