.landing-top {
  /* min-height: 100vh; */
  background-image: url("/public/assets/images/banner/Ankit Bhat.webp");
  background-repeat: no-repeat;
  background-position: 80% 25%;
  padding: 0 clamp(10px, 2vw, 60px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  position: relative;
  overflow: hidden;
}

.landing-overlay {
  position: absolute;
  inset: 0;

  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.9) 35%,
    rgba(0, 0, 0, 0.6) 55%,
    rgba(0, 0, 0, 0.25) 70%,
    rgba(0, 0, 0, 0) 100%
  );

  z-index: 1;
  pointer-events: none;
}

.landing-top-bar,
.landing-main,
.landing-bottom {
  position: relative;
  z-index: 2;
}

/* Top Bar */
.landing-top-bar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: clamp(12px, 3vw, 30px);
  padding: clamp(10px, 3vw, 30px);
}

/* Logos container */
.logos {
  display: flex;
  gap: clamp(10px, 3vw, 20px);
  align-items: center;
}

/* Logo sizes */
.ld-logo2 {
  margin-left: clamp(0px, 4vw, 50px);
  width: clamp(60px, 12vw, 115px);
}

.ld-logo1 {
  width: clamp(90px, 25vw, 240px);
  height: clamp(50px, 12vw, 100px);
  object-fit: contain;
}

/* Title */
.logo-title {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  letter-spacing: clamp(0.5px, 0.3vw, 1px);
  font-weight: 400;
  font-size: clamp(26px, 6vw, 55px);
  color: gold;
  line-height: 1.1;
}

/* Social icons */
.ld-social {
    display: flex;
    position: absolute;
    top: clamp(10px, 1vw, 20px);
    right: clamp(10px, 1vw, 16px);
    gap: clamp(5px, 1vw, 15px);
    margin-bottom: 0;
}

.ld-social-icons {
  width: clamp(20px, 2vw, 35px) !important;
  height: clamp(20px, 2vw, 35px) !important;
  border-radius: 50%;
}

/* Main Section */
.landing-main {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
  padding: clamp(20px, 5vw, 50px);
}

/* Info Card */
.info-card {
  background: whitesmoke;
  color: black;
  max-width: clamp(280px, 60vw, 500px);
  border-radius: clamp(10px, 3vw, 15px);
}

/* Form Title */
.form-title {
  font-family: "Poppins-Medium", Helvetica;
  border-radius: clamp(10px, 3vw, 15px) clamp(10px, 3vw, 15px) 0 0;
  background: goldenrod;
  margin: 0;
  font-size: clamp(14px, 3vw, 20px);
  padding: clamp(10px, 2vw, 20px) 0;
  text-align: center;
}

/* Form */
.apply-form {
  display: flex;
  flex-direction: column;
  gap: clamp(4px, 1vw, 12px);
}

/* Inputs & Selects */
.apply-form input,
.apply-form select {
  border: 1px solid goldenrod;
  padding: clamp(5px, 1vw, 15px) clamp(10px, 2vw, 20px);
  margin: clamp(8px, 1vw, 25px) clamp(10px, 1vw, 25px) 0 clamp(10px, 1vw, 25px);
  border-radius: clamp(4px, 1.5vw, 6px);
  font-size: clamp(8px, 2vw, 14px);
}

/* Placeholder */
.apply-form input::placeholder {
  color: #777;
}

/* Submit Button */
#landing-btn {
  width: fit-content;
  margin: clamp(10px, 2vw, 15px) auto;
}

/* Country | State | City in one line */
.form-row {
  display: flex;
}

.form-row select {
  flex: 1;
}

/* Landingtop Text */
.landingtop-text {
  position: absolute;
  right: clamp(15px, 5vw, 40px);
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: clamp(4px, 2vw, 6px);
}

/* Bottom Section */
.landing-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: clamp(5px, 1vw, 40px);
}

.bottom-block {
  text-align: center;
  padding: 0 clamp(10px, 2vw, 40px);
}

.bt-block-text {
  margin-bottom: 0;
}

.bt-block-title {
  font-size: clamp(25px, 6vw, 50px);
  margin-bottom: clamp(20px, 1vw, 60px);
}

/* Divider (horizontal + vertical look) */
.divider {
  width: clamp(1px, 0.5vw, 2px);
  height: clamp(60px, 12vw, 100px);
  background: whitesmoke;
}

@media (max-width: 768px) {
  .landing-top-bar {
    position: relative;
    justify-content: start;
    /* padding-top: clamp(50px, 12vw, 70px); */
    padding-top: clamp(5px, 1vw, 70px);
  }

  /* .ld-logo1 {
    position: absolute;
    top: clamp(10px, 3vw, 16px);
    left: clamp(10px, 3vw, 16px);
    margin-left: 0;
  } */

  .ld-logo1 {
    display: none;
  }
  .ld-logo2 {
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .landing-main {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .landing-top {
    background-position: 35% 20%;
  }
  .info-card {
    max-width: 100%;
    margin-bottom: clamp(20px, 5vw, 30px);
  }

  .landingtop-text {
    position: static;
    text-align: center;
    gap: 0;
  }

  .banner-text {
    margin: 0;
  }
  .form-row {
    flex-direction: column;
    gap: clamp(8px, 2vw, 12px);
  }
}
