.contact-us {
  max-width: 1000px;
  margin: 0 auto;
  padding: 30px;
}

.contact-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.contact-card {
  display: flex;
  color: white;
  align-items: flex-start;
  gap: 15px;
  padding: 20px 20px 0 20px;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
}

.contact-card .icon img {
  width: 40px;
  height: 40px;
}

.contact-card .content span {
  color: wheat;
  padding-right: 10px;
}
