.shortfilm-wrapper {
  padding: clamp(20px, 5vw, 40px) clamp(16px, 8vw, 100px);
}

.shortfilm-section {
  margin-bottom: clamp(30px, 6vw, 60px);
}

/* Header */
.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: clamp(12px, 3vw, 20px);
  margin-bottom: clamp(16px, 4vw, 25px);
}

/* Filters */
.filters {
  display: flex;
  flex-wrap: wrap;
  gap: clamp(8px, 3vw, 15px);
}

/* Cards Grid */
.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(clamp(140px, 20vw, 240px), 1fr));
  gap: clamp(16px, 4vw, 40px);
  justify-items: center;
}

/* Film Card */
.film-card {
  width: 100%;
  max-width: clamp(140px, 20vw, 250px);
  border-radius: clamp(6px, 2vw, 10px);
  overflow: hidden;
  border: 1px solid white;
}

/* Image */
.film-card img {
  width: 100%;
  height: clamp(140px, 20vw, 350px);
  object-fit: cover;
  display: block;
}

.filters select.button {      
  background-color: purple;    
  color: #fff;               
  cursor: pointer;
}


@media (max-width: 768px) {
  .section-header {
    flex-direction: column;
        align-items: flex-start;
  }

  .cards-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}



