.awards-section {
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

/* Rows */
.awards-row {
  display: grid;
  gap: clamp(12px, 2vw, 20px);
  justify-content: center;
  margin-bottom: clamp(20px, 4vw, 30px);
}

.awards-row.five {
  grid-template-columns: repeat(4, 1fr);
  max-width: 65%;
  gap: clamp(10px, 2vw, 30px);
  margin: 0 auto;
  padding: clamp(1px, 2vw, 30px);
}

.awards-row.four {
  grid-template-columns: repeat(3, 1fr);
  max-width: 50%;
  gap: clamp(10px, 2vw, 30px);
  margin: 0 auto;
  padding: clamp(20px, 2vw, 30px);
}

/* Card */
.award-card {
  height: clamp(110px, 14vw, 180px);
  background-size: cover;
  background-position: center;
  border-radius: clamp(12px, 2vw, 16px);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: clamp(14px, 2vw, 18px);
  font-weight: 600;
}

.award-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: clamp(4px, 0.4vw, 6px);
  padding: clamp(5px, 1.5vw, 25px);
}

.film-name {
  margin: 0;
  font-size: clamp(14px, 1.5vw, 22px);
  font-weight: 600;
}

.award-name {
  margin: 0;
  line-height: normal;
  font-size: clamp(10px, 1.2vw, 16px);
  font-weight: 400;
  color: #696984;
}

.student-name {
  margin: 0;
  font-size: clamp(12px, 1.5vw, 18px);
  font-weight: 400;
}

/* Button */
#award-btn {
  margin-bottom: clamp(10px, 2vw, 30px);
}

.carousel-wrapper {
  overflow: hidden;
  width: 100%;
  padding: clamp(15px, 4vw, 30px);
}

.carousel-track {
  display: flex;
  width: max-content;
  animation: scroll 20s linear infinite;
}

.carousel-track img {
  width: clamp(180px, 40vw, 280px);
   aspect-ratio: 2 / 3;
  object-fit: cover;
  margin-right: clamp(15px, 4vw, 30px);
  flex-shrink: 0;
  border: 1px solid white;
}

/* Continuous scroll animation */
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* Pause on hover */
.carousel-wrapper:hover .carousel-track {
  animation-play-state: paused;
}

@media (min-width: 1024px) and (max-width: 1336px) {
  .awards-row.five {
    max-width: 100%;
  }

  .awards-row.four {
    max-width: 70%;
  }
}

@media (max-width: 768px) {
  .awards-row.four {
    display: none;
  }

  .awards-row.five {
    grid-template-columns: repeat(2, 1fr) !important;
    max-width: 100%;
    gap: clamp(12px, 3vw, 16px);
  }
}
