/* Container */
.recognitions-container {
  margin: 0 auto;
  padding: clamp(1rem, 3vw, 2rem) 0;
}

/* Horizontal grid for cards */
.recognitions-grid {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
}

/* Single card */
.recognition-card {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(6px);
  width: 400px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(236, 235, 235, 0.6);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.recognition-card:hover {
  transform: translateY(-6px);
  box-shadow: none;
}

/* Top image */
.rec-image {
  width: 100%;
  height: clamp(150px, 20vw, 280px);
  background-size: cover;
  background-position: center;
}

/* Name and button */
.rec-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
  
#rec-btn {
  width: max-content;
}


