.recognitions-container {
  margin: 0 auto;
  padding: 50px 0;
}

.recognitions-grid {
  display: flex;
  gap: clamp(25px, 2vw, 50px);
  flex-wrap: wrap;
  justify-content: center;
}

.rg-card {
  padding: 0;
  width: clamp(320px, 40vw, 420px);
}

.rec-image {
  width: 100%;
  height: clamp(160px, 30vw, 300px);
  background-size: cover;
  background-position: center;
}

.rec-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: clamp(10px, 2vw, 15px);
  padding: clamp(12px, 3vw, 15px);
}

#rec-btn {
  width: max-content;
}

