
.programs-section {
  padding: 35px;
  text-align: center;
}

.programs-cards {
  display: flex;
  gap: 40px;
  padding: 30px 0;
  justify-content: center;
  flex-wrap: wrap;
}

.program-card {
  background: var(--card-bg);
   border: 1px solid white;
  max-width: 450px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.05);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.program-card:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 20px rgba(255, 255, 255, 0.35); 
}
/* IMAGE */
.card-image {
  position: relative;
  width: 100%;
  overflow: hidden;

}

.card-image img {
  width: 100%;
  display: block;
  border-bottom: 1px solid var(--card-border);
  transition: transform 0.5s ease;
}

.program-card:hover .card-image img {
  transform: scale(1.05);
}

/* READ MORE BUTTON */
#pg-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

/* SUBTITLE & TEXT */
.card-subtitle {
  font-size: 25px;
  font-size: 600;
  margin: 1rem 0 0.5rem;
}


