.programs-section {
  padding: clamp(15px, 1.5vw, 20px) 0;
  text-align: center;
  background-image: url("/public/assets/images/background/bg4.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.programs-cards {
  display: flex;
  gap: clamp(20px, 3vw, 40px);
  padding: clamp(15px, 2vw, 30px);
  justify-content: center;
  flex-wrap: wrap;
}

/* CARD */
.program-card {
  background: var(--card-bg);
  width: clamp(300px, 30vw, 500px);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.05);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.program-card:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 20px rgba(255, 255, 255, 0.35);
  background-color: rgba(47, 49, 54, 0.9);
}

.program-card:hover .card-image {
  border: none;
}

/* IMAGE */
.card-image {
  position: relative;
  height: clamp(220px, 45vw, 380px);
  overflow: hidden;
  border: 1px solid white;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.program-card:hover .card-image img {
  transform: scale(1.05);
}

/* READ MORE BUTTON */
#pg-btn {
  position: absolute;
  bottom: clamp(6px, 2vw, 10px);
  right: clamp(6px, 2vw, 10px);
}
