.footer {
  background: #000 url("/public/assets/images/background/footer.webp") no-repeat right
    center / auto 100%;
  padding: 20px 30px;
  box-shadow: 0 -6px 10px rgba(255, 255, 255, 0.35);
}

/* TOP */
.footer-top {
  display: flex;
  max-width: fit-content;
  justify-content: space-between;
  margin: 0 auto;
  padding-left: 50px;
  gap: 20px;
}

/* LEFT */
.footer-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.logo1 {
  width: 170px;
}

.logo2 {
  width: 80px;
}
.footer-address {
  margin-bottom: 20px;
  text-align: center;
}

.footer-map iframe {
  width: 100%;
  height: 180px;
  border: 0;
}

/* CENTER */
.footer-links {
  display: flex;
  gap: 20px;
}

.footer-links ul {
  list-style: none;
  text-align: start;
}

.footer-heading {
  display: block;
  font-size: 18px;
  font-weight: 600;
  color: goldenrod;
  margin-bottom: 12px;
  grid-column: 1 / -1;
}

/* SOCIAL ICONS */
.footer-social{
  display: flex;
  align-items: center;
  gap: clamp(8px, 1vw, 18px);
  padding: 20px 35px;
}

.ft-social-icons {
  width: clamp(20px, 2vw, 35px) !important;
  height: clamp(20px, 2vw, 35px) !important;
  border-radius: 50%;
}

/* RIGHT */
.footer-right {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: right;
  padding-left: 270px;
}

.footer-button {
  position: absolute;
  right: 10px;
  top: 30px;
}

.footer-image {
  width: 100%;
  max-width: 260px;
  border-radius: 12px;
  margin-bottom: 16px;
}

.footer-text.vertical-words {
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-end;
  padding-top: 100px;
}

.footer-text.vertical-words span {
  display: block;
  font-size: 50px;
  font-weight: 500;
  color: gold;
  font-style: italic;
  text-shadow: 3px 1px 0 purple;
  margin-bottom: 30px;
}

/* BOTTOM */
.footer-bottom {
  padding-top: 10px;
  border-top: 1px solid #535353;
  text-align: center;
  color: goldenrod;
}

