.footer {
  background: #000 url("/public/assets/images/background/footer.webp") no-repeat
    right center / auto 100%;
  padding: clamp(15px, 2vw, 30px);
  box-shadow: 0 -6px 15px rgba(255, 255, 255, 0.35);
}

/* TOP */
.footer-top {
  display: flex;
  max-width: fit-content;
  justify-content: space-between;
  margin: 0 auto;
}

.footer-section {
  padding: 8px 0;
  margin: 0 clamp(20px, 2vw, 50px);
}

/* LEFT */
.footer-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(20px, 2vw, 40px);
}

.logo1 {
  width: clamp(100px, 12vw, 170px);
}

.logo2 {
  width: clamp(50px, 5vw, 80px);
}
.footer-address {
  font-size: clamp(12px, 1.2vw, 16px);
  margin-bottom: clamp(10px, 1vw, 20px);
  text-align: center;
}

.footer-map {
  display: flex;
  justify-content: center;
}

.footer-map iframe {
  max-width: clamp(200px, 35vw, 400px);
  height: clamp(100px, 15vw, 180px);
  border: 0;
}

/* CENTER */
.footer-links {
  display: flex;
  gap: 20px;
}

.footer-links ul {
  list-style: none;
  text-align: start;
}

.footer-heading {
  display: block;
  font-size: clamp(14px, 1.5vw, 18px);
  color: goldenrod;
  margin-bottom: 12px;
  grid-column: 1 / -1;
}

/* SOCIAL ICONS */
.footer-social {
  display: flex;
  align-items: center;
  gap: clamp(8px, 1vw, 15px);
  padding: clamp(10px, 1vw, 20px) 0 0 clamp(5px, 1vw, 20px);
}

.ft-social-icons {
  width: clamp(25px, 3vw, 35px) !important;
  height: clamp(25px, 3vw, 35px) !important;
  border-radius: 50%;
}

/* RIGHT */
.footer-right {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: right;
  padding-left: clamp(50px, 15vw, 200px);
}
#footer-btn {
  position: absolute;
  right: clamp(5px, 1vw, 10px);
  top: clamp(15px, 2vw, 30px);
}

.footer-image {
  width: 100%;
  max-width: clamp(150px, 50vw, 260px);
  border-radius: clamp(8px, 1vw, 12px);
  margin-bottom: clamp(12px, 1.5vw, 16px);
}

.footer-text.vertical-words {
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-end;
  padding-top: 100px;
}

.footer-text.vertical-words span {
  display: block;
  font-size: clamp(25px, 1.5vw, 50px);
  font-weight: 500;
  color: whitesmoke;
  font-style: italic;
  text-shadow: 3px 1px 0 goldenrod;
  margin-bottom: clamp(15px, 1.5vw, 30px);
}

/* BOTTOM */
.footer-bottom {
  font-size: clamp(8px, 1.2vw, 14px);
  padding-top: clamp(5px, 1vw, 10px);
  border-top: 1px solid #535353;
  text-align: center;
  color: goldenrod;
}

@media (max-width: 1280px) {
  .footer-links {
    gap: 0;
  }

  .footer-right {
    padding-left: clamp(20px, 2vw, 50px);
  }
}

@media (max-width: 480px) {
  .footer-top {
    flex-direction: column;
  }

  .footer-links .page-list {
    padding-left: 0px;
  }
  .contact-admission {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: clamp(16px, 2vw, 32px);
  }

  .footer-links {
    order: 2;
    flex-direction: column;
    gap: 0;
    text-align: center;
  }

  .footer-links ul {
    margin-top: 0;
  }
  .footer-links .page-list li {
    display: inline-block;
    margin: 0 8px;
    white-space: nowrap;
  }

  .footer-social {
justify-content: center;
} 
  .footer-right {
    order: -1; /* moves it to top / first */
  }

  .footer-links .page-list li:not(:last-child)::after {
    content: "|";
    margin-left: clamp(6px, 1.5vw, 10px);
    color: #777;
  }

  .footer-text.vertical-words {
    display: none !important;
  }
}
