.specialization-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: clamp(10px, 1vw, 20px);
  padding: clamp(10px, 1vw, 20px) 0;
}
/* Card */
.specialization-card {
  display: flex;
  flex: 0 0 clamp(110px, 18vw, 250px);
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: clamp(10px, 2.5vw, 20px) 0;
}

/* Card Image */
.specialization-card img {
  width: clamp(40px, 5vw, 80px);
  height: clamp(40px, 5vw, 80px);
  object-fit: contain;
  border-radius: 50%;
  background: whitesmoke;
  padding: clamp(6px, 2vw, 10px);
}
