.mentor-section {
  padding: clamp(15px, 3vw, 30px) 0;
  margin: 0 auto;
}

/* LAYOUT */
.mentor-content {
  display: flex;
  gap: clamp(20px, 5vw, 60px);
  width: clamp(90%, 70%, 70%);
  margin: 0 auto;
}

/* LEFT */
.mentor-left {
  width: clamp(40%, 50%, 50%);
}

/* IMAGE EFFECT */
.img-wrap {
  position: relative;
  padding: clamp(15px, 3vw, 30px) 0 0 0;
  width: fit-content;
  margin: 0 auto;
}

.img-wrap img {
  border-radius: 50%;
  width: clamp(150px, 30vw, 350px);
  height: clamp(150px, 28vw, 330px);
  display: block;
}

/* MENTOR INFO */
.mentor-info {
  display: flex;
  gap: clamp(20px, 4vw, 40px);
  margin-top: clamp(15px, 3vw, 25px);
  align-items: flex-start;
}

.mentor-icon {
     width: clamp(30%, 25%, 75%);
  height: auto;
}

.mentor-message {
  color: goldenrod;
  font-style: italic;
  font-size: clamp(11px, 2vw, 18px);
}

/* RIGHT */
.mentor-right {
  width: clamp(50%, 60%, 60%);
}

.mentor-paragraph {
  max-width: max-content;
}

/* grid */
.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: clamp(0px, 1vw, 0px);
  transition: gap 0.4s ease;
  max-width: clamp(500px, 90%, 1000px);
  margin: 0 auto;
}

/* Images */
.image-grid img {
  width: 100%;
  height: clamp(150px, 25vw, 250px);
  object-fit: cover;
  border-radius: 0px;
  border: 1px solid whitesmoke;
  transition:
    transform 0.4s ease,
    border-radius 0.4s ease,
    border 0.4s ease;
  cursor: pointer;
}

/* hover effect */
.image-grid:hover {
  gap: clamp(10px, 3vw, 25px);
}

.image-grid:hover img {
  border-radius: clamp(6px, 2vw, 12px);
  border: none;
}

.image-grid img:hover {
  transform: scale(1.03);
}

/* Mobile layout */
@media (max-width: 768px) {
  .mentor-content {
    flex-direction: column; 
    gap:0; 
    width: 90%; 
    margin: 0 auto;
  }

  .mentor-left,
  .mentor-right {
    width: 100%;
  }

  .img-wrap img {
    width: clamp(150px, 50vw, 250px);
    height: clamp(150px, 45vw, 250px);
  }

}
