.scope-section{
  max-width: max-content;
}
.scope-content {
  max-width: clamp(320px, 90vw, 1200px);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1.1fr;
  gap: clamp(15px, 3vw, 30px);
  align-items: center;
}


.scope-img {
  width: clamp(280px, 40vw, 500px);
  height: auto;
  border-radius: clamp(12px, 2vw, 18px);
  display: block;
  object-fit: cover;
  box-shadow: 0 10px 20px rgba(209, 208, 208, 0.6);
}

.scope-cta {
  text-align: center;
  margin: clamp(30px, 5vw, 60px) 0;
}

@media (max-width: 768px) {
  .scope-content {
    grid-template-columns: 1fr;
  }

  .scope-img {
    margin: 0 auto; 
  }
}
